// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Please wait loading
@import '~please-wait/src/please-wait.scss';
@import '~spinkit/spinkit.css';

.pg-loading-screen .pg-loading-logo-header img {
    max-width: 12rem;
    width: auto;
    height: auto;
    max-height: 3rem;
    object-fit: contain;
}

.pg-loading-screen {
    .pg-loading-center-outer {
        display: flex !important;
        align-items: center;
        justify-content: center;
        inset: 0;
    }

    .pg-loading-center-middle {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;
    }

    .pg-loading-html {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loading-message {
        margin-left: auto;
        margin-right: auto;
    }

    .sk-spinner {
        --sk-color: #fff;
    }
}

