<div class="root">
    <div class="list-w-img-container">
        <div class="list cabinet-kw-list-card">
            <div class="cabinet-kw-list-head">
                <input type="text" class="listName" value="" data-text="word-list" />
                <button type="button" class="deleteThis cabinet-kw-list-remove" title="">
                    <span class="close-popup-control" aria-hidden="true">
                        <img src="plugins/keyword-generator/img/close.svg" alt="">
                    </span>
                </button>
            </div>
            <textarea
                    wrap="off"
                    rows="14"
                    class="wordList"
                    data-text="word-placeholder"
                    placeholder=""></textarea>
            <div class="optionsHeader cabinet-kw-list-foot">
                <a class="arrow arrowDown additionalOptions __dashed" href="#" data-text="Additionally"></a>
                <div class="wordQuantityContainer">
                    <span data-text="Words"></span><span class="cabinet-kw-word-qty-sep">: </span><span class="wordQuantity">0</span>
                </div>
            </div>
            <div class="additionalOptionsList">
                <label class="ui_label __no-select">
                <span class="ui_checkbox">
                    <input type="checkbox" class="additionalCheckboxOption ui_checkbox_input" value="exactMatch"/>
                    <span class="ui_checkbox_fake-input"></span>
                </span>
                    <span data-text="Add"></span> !
                    <span class="__helper-link ui_tooltip_w cabinet-kw-tip">
                    <i class="fa fa-question-circle"></i>
                    <span class="ui_tooltip __bottom __l">
                        <span class="ui_tooltip_content" data-text="Use-to-set"></span>
                    </span>
                </span>
                </label>
                <br>
                <label class="ui_label __no-select">
                <span class="ui_checkbox">
                    <input type="checkbox" class="additionalCheckboxOption ui_checkbox_input" value="broadMatchModifier"/>
                    <span class="ui_checkbox_fake-input"></span>
                </span>
                    <span data-text="Add"></span> +
                    <span class="__helper-link ui_tooltip_w cabinet-kw-tip">
                    <i class="fa fa-question-circle"></i>
                    <span class="ui_tooltip __bottom __l">
                        <span class="ui_tooltip_content" data-text="Broad-match"></span>
                    </span>
                </span>
                </label>
                <br>
                <label class="ui_label __no-select">
                <span class="ui_checkbox">
                    <input type="checkbox" class="additionalCheckboxOption ui_checkbox_input" value="addToResult"/>
                    <span class="ui_checkbox_fake-input"></span>
                </span>
                    <span data-text="Add-source-list"></span>
                    <span class="__helper-link ui_tooltip_w cabinet-kw-tip">
                    <i class="fa fa-question-circle"></i>
                    <span class="ui_tooltip __right">
                        <span class="ui_tooltip_content" data-text="Words-from-this-list"></span>
                    </span>
                </span>
                </label>
                <br>
                <label class="ui_label __no-select">
                <span class="ui_checkbox">
                    <input type="checkbox" class="additionalCheckboxOption ui_checkbox_input" value="addBlankWord"/>
                    <span class="ui_checkbox_fake-input"></span>
                </span>
                    <span data-text="Combine-without"></span>
                    <span class="__helper-link ui_tooltip_w cabinet-kw-tip">
                    <i class="fa fa-question-circle"></i>
                    <span class="ui_tooltip __right">
                        <span class="ui_tooltip_content" data-text="Variants-without-words"></span>
                    </span>
                </span>
                </label>
                <br>
            </div>
        </div>
    </div>
</div>

